Repository oxyno-zeta/opa-center, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, backend, tests, actions, ci, documentation

.github/labeler.yml:

# Add ui label
ui:
  - ui/**/*

# Add backend label
backend:
  - backend/**/*

# Add test label
tests:
  - backend/pkg/**/*_test.go

# Add actions label
actions:
  - .github/**/*.yml
  - .github/*.yml

# Add ci label
ci:
  - .circleci/*

# Add documentation label
documentation:
  - "**/*.md"
  - "*.md"

docs: General documentation
  DEVELOPER.md
  README.md
  backend/conf/authx.yaml
  backend/pkg/opa-center/config/config.go
  docs/authorizations.md
  docs/configuration.md
  docs/opa-formats.md
  opa-center.code-workspace
Labels: backend, documentation

chore: Edit stale action configuration
  .github/workflows/stale.yml
Labels: actions

docs(backend): Update README
  backend/README.md
Labels: backend, documentation

chore(backend): Clean dead code
  backend/pkg/opa-center/authx/authorization/client.go
  backend/pkg/opa-center/authx/authorization/middleware.go
  backend/pkg/opa-center/authx/authorization/service.go
  backend/pkg/opa-center/authx/authorization/service_test.go
Labels: backend, tests

chore(backend): Clean dependencies
  backend/go.mod
  backend/go.sum
Labels: backend

docs(ui): Update README
  ui/README.md
Labels: ui, documentation
